// import google font Lato and override Bootstrap existing font-family
@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;

// import bootstrap sass from node
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/font-awesome/scss/font-awesome";

.icon-user {
  @extend .fa;
  @extend .fa-user;
}
.fa-btn {
    margin-right: 6px;
}

.fullsc{
    width:100%;
    height:100%;
}

.vcenter {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
