// import google font Lato and override Bootstrap existing font-family
@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;

// variables
$navbar-logo-height: 40px;
$login-logo-width: 1000px;


// import bootstrap sass from node
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/font-awesome/scss/font-awesome";

.icon-user {
  @extend .fa;
  @extend .fa-user;
}
.fa-btn {
    margin-right: 6px;
}

.fullsc{
    width:100%;
    height:100%;
}

.vcenter {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}


html, body {
  overflow-x: visible;
}

.dropdown-menu {
    li {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .divider {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
// navbar-brand - swinburne logo
.navbar-logo {
    height: $navbar-logo-height;
    margin-top: -10px;
}

// logo at login page
.login-logo {
    width: $login-logo-width;
}


.menu {
	position: relative;
	z-index: 1000;
}

@media screen and (max-width: 767px){
.row-offcanvas{
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
}

.row-offcanvas-right{
    right: 0;
}

.row-offcanvas-left{
    left: 0;
}

.row-offcanvas-right
.sidebar-offcanvas{
    right: -50%;
}

.row-offcanvas-left
.sidebar-offcanvas{
    left: -100%;
}
.row-offcanvas-left.sidebar-offcanvas.active{
    left: 50%;
}

.row-offcanvas-right.active{
    right: 50%;
}

.row-offcanvas-left.active{
    left: 50%;
}

.sidebar-offcanvas{
    position: absolute;
    top: 0;
    z-index:999;
    background-color: #ffffff;

  -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

}
